<div class="d-flex">
    <div style="height: 89vh; width: 250px; background-color: rgb(14, 14, 83); "
        class="d-flex align-items-center flex-column">
        <a routerLink="/dashboard" class="mt-5 text-light fs-4 text-decoration-none">Dashboard</a>
        <a routerLink="/employee" class="mt-5 text-light fs-4 text-decoration-none">Employess</a>
    </div>


    <div class="p-3 " style="width:100%">
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <h1 style="font-weight: 600;">Employee List</h1>
            <a routerLink="/add" class="btn btn-outline-primary">Add <i class="fa-solid fa-user-plus "></i></a>
        </div>
        <h4>{{adminLogin | date:"medium"}}</h4>
        <div>
            <div class="d-flex">
                <input type="text" placeholder="Username" class="form-control w-25" name="skey" [(ngModel)]="searchKey">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle ms-3" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                        <li><a class="dropdown-item" (click)="sortId()" >By ID</a></li>
                        <li><a class="dropdown-item" (click)="sortName()">By Name</a></li>
                    </ul>
                </div>
                <button class="btn btn-success ms-auto " (click)="generatePDF()">Export</button>
            </div>
            
                            <div class="row w-100">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <table class="table table-bordered mt-5 shadow">
                                        <thead>
                                            <tr>
                                                <th class="p-3 bg-secondary text-light">User ID</th>
                                                <th class="p-3 bg-secondary text-light">Username</th>
                                                <th class="p-3 bg-secondary text-light">Email</th>
                                                <th class="p-3 bg-secondary text-light">Status</th>
                                                <th class="p-3 bg-secondary text-light">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let employee of allEmployee | search:searchKey | paginate: { itemsPerPage: 4, currentPage: p} " [hidden]="employee.id =='1'">
                                                <td>{{employee.id}}</td>
                                                <td>{{employee.name}}</td>
                                                <td>{{employee.email}}</td>
                                                <td><button [ngClass]="employee.status=='1'?'btn btn-success':'btn btn-warning'">{{employee.status == '1' ? 'Active':'Inactive'}}</button></td>
                                                <td class="d-flex justify-content-center gap-4">
                                                    <a routerLink="/edit/{{employee.id}}">
                                                        <button class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></button>
                                                    </a>
                                                    <button class="btn btn-outline-danger" (click)="removeEmployee(employee.id)"><i class="fa-solid fa-trash"></i></button>
                                                </td>
                                            </tr>
                                            <p *ngIf="(allEmployee | search:searchKey).length == 0" class="text-danger">Employee does not Exist</p>
                                        </tbody>
                                    </table>
                                    <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
                                </div>
                                <div class="col-md-1"></div>
                            </div>
        </div>
    </div>

</div>