<div style="height: 100vh; display: flex; align-items: center; position: absolute; justify-content: center;width: 100%;">
    <div style=" background-color: rgb(14, 14, 83); color: white;" class="p-3 rounded">
        <h1 class="text-center">Login</h1>
        <div>
            <form (ngSubmit)="login()" class="shadow p-3 rounded" style="width: 500px;">
                <input #loginEmail="ngModel" type="text" class="form-control" placeholder="Email Id" [(ngModel)]="mailId" name="mail" required email>
                <span *ngIf="loginEmail.invalid && loginEmail.touched" class="text-danger">Invalid input</span>
                <br>
                <input #loginPassword="ngModel" type="text" class="form-control my-2" placeholder="password" [(ngModel)]="password" name="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{4,}$" >
                <span *ngIf="loginPassword.invalid && loginPassword.touched" class="text-danger">Invalid input</span>
                <br>
                <button [disabled]="loginEmail.invalid || loginPassword.invalid" class="btn btn-danger w-100" type="submit" >Login</button>
            </form>
        </div>
    </div>
</div>