<div style="height: 100vh; display: flex; align-items: center; position: absolute; justify-content: center;width: 100%;">
    <div style=" background-color: rgb(14, 14, 83); color: white;" class="p-3 rounded">
        <h1 class="text-center">Login</h1>
        <div>
            <form class="shadow p-3 rounded" style="width: 500px;">
                <input type="text" class="form-control" placeholder="Email Id">
                <br>
                <input type="text" class="form-control my-2" placeholder="password">
                <br>
                <button class="btn btn-danger w-100">Login</button>
            </form>
        </div>
    </div>
</div>