<div class="d-flex">
    <div style="height: 89vh; width: 250px; background-color: rgb(14, 14, 83); "
        class="d-flex align-items-center flex-column">
        <a routerLink="/dashboard" class="mt-5 text-light fs-4 text-decoration-none">Dashboard</a>
        <a routerLink="/employee" class="mt-5 text-light fs-4 text-decoration-none">Employess</a>
    </div>
    <div style="width: 100%;" class="p-3 d-flex flex-column align-items-center">
        <h1 class="text-center mt-4" style="color: tomato; font-family: Roboto Mono; font-weight: 600;">Add New User Details</h1>
        <div class="w-50 bg-dark p-5 d-flex flex-column gap-4 shadow rounded">
            <input #addId="ngModel" type="text" class="form-control" placeholder="UserID" name="empId" [(ngModel)]="employeeDetails.id" required pattern="^[0-9]*$">
            <span *ngIf="addId.invalid && addId.touched" class="text-danger">Invalid Input</span>

            <input  #addName="ngModel" type="text" class="form-control" placeholder="Username" name="empName" [(ngModel)]="employeeDetails.name" required pattern="^[a-zA-Z,]{3,}*$">
            <span *ngIf="addName.invalid && addName.touched" class="text-danger">Invalid Input</span>

            <input #addEmail="ngModel" type="email" class="form-control" placeholder="Email" name="empEmail" [(ngModel)]="employeeDetails.email" required >
            <span *ngIf="addEmail.invalid && addEmail.touched" class="text-danger">Invalid Input</span>
            <div>
                <label for="floatingSelect" class="text-light ms-2">Status</label>
                <select #addStatus="ngModel" class="form-select" aria-label="Default select example" name="empStatus" [(ngModel)]="employeeDetails.status" required>
                    <option selected></option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                   
                  </select>
            </div>
              <div class="d-flex justify-content-center gap-4">
                  <button type="button" class="btn btn-warning" (click)="Cancel()">Cancel</button>
                  <button  (click)="addUser()" class="btn btn-success">ADD</button>
              </div>
        </div>
        
        
    </div>
</div>