<div class="d-flex" style="overflow-x: hidden;">
    <div *ngIf="status" style="height: 88vh; width: 250px; background-color: rgb(14, 14, 83);"
        class="d-flex align-items-center flex-column">
        <a routerLink="/dashboard" class="mt-5 text-light fs-4 text-decoration-none">Dashboard</a>
        <a routerLink="/employee" class="mt-5 text-light fs-4 text-decoration-none">Employess</a>
    </div>
    <div class="row w-100">
        <div class="col-md-8 p-3">
            <div class="d-flex align-items-center text-white rounded shadow"
                style="background-color:rgb(94, 14, 54) ; height: 100px;">
                <i class="fa-solid fa-bars ms-3 fs-3" (click)="changeStatus()"></i>
                <h3 class="ms-3">Welcome Admin</h3>
            </div>
            <div class="row w-100 mt-4">
                <div class="col-md-6">
                    <p>Calender</p>
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar [(selected)]="selected"></mat-calendar>
                    </mat-card>
                </div>
                <div class="col-md-6">
                    <p>Chart</p>
                    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
                        style="width: 100%; height: 400px; display: block;"></highcharts-chart>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-5">
            <div *ngIf="editStatus" class="mt-3 shadow d-flex justify-content-center align-items-center rounded flex-column" style="height: 350px;background-color: plum;">
                <img [src]="profileImage" alt="" width="150px" height="150px" style="border-radius: 50%;">
                <a (click)="getEditStatus()" class="mt-3 fs-5 text-decoration-none">Edit The Admin Details <i class="fa-solid fa-pen-nib"></i></a>
            </div>
            <div *ngIf="!editStatus" class="mt-3 shadow d-flex justify-content-center align-items-center rounded flex-column"
                style="height: 350px;background-color: plum;">
                <h5>Update Admin Details </h5>
                <label>
                    <input type="file" style="display: none;" (change)="getFile($event)">
                    <img [src]="profileImage" alt="" width="150px" height="130px"
                    style="border-radius: 50%;">
                </label>
                <form class="w-75 mt-3">
                    <div class="mb-3">
                        <input type="text" placeholder="Admin Name" class="form-control" name="adminname" [(ngModel)]="adminDetail.name">
                    </div>
                    <div class="mb-3">
                        <input type="text" placeholder="password" class="form-control" name="adminPassword" [(ngModel)]="adminDetail.password">
                    </div>
                    <div class=" d-flex justify-content-center gap-3">
                        <button class="btn btn-primary" (click)="updateAdmin()">Update</button>
                        <button class="btn btn-danger" (click)="reset()">Cancel</button>
                    </div>
                </form>
            </div>
            <div class="shadow rounded mt-4 d-flex align-items-center justify-content-center"
                style="background-color: cadetblue; height: 200px;">
                <h2 class="text-light"><i class="fa-solid fa-user"></i> Employee Count : {{totalEmployee}}</h2>
            </div>
        </div>
    </div>
</div>